<h1>Publicar</h1>
<form id="valores">
  <div class="field">
    <label for="msg">Nombre</label> <br/>
    <input type="text" name="persona" value="" id="persona" />
  </div>
  <div class="field">
    <label for="msg">Puesto de atención</label><br/>
    <input type="text" name="puesto" value="" id="puesto" />
  </div>
  <div class="field">
    <label for="msg">Canal</label><br/>
    <input type="text" name="canal" value="" id="canal" />
  </div>
</form>

<br/>
<!--
En:

<select name="router" id="router">
  <% Exhibidor.all.each do |exhibidor| %>
    <option value="<%= exhibidor.canal %>"><%= exhibidor.canal %></option>
  <% end %>
</select>
-->

<input type="button" name="Publicar" value="Publicar" id="btn_publicar" />


<script type="text/javascript" language="javascript" charset="utf-8">

// <![CDATA[
		$(document).ready(function(){
			var client = new Faye.Client('<%= @pubsub_url %>');

			$(":input").focus().keypress(function(e){
			  if( e.which == 13 ){
			    e.preventDefault();
			    $(":input").first().focus();
			    $("#btn_publicar").click();
			  }
			});

  		function publish(info){
				client.publish($("#canal").val(), {
					info: info
				});
			}

			$("#btn_publicar").click(function(event){
				event.preventDefault();
				var persona = $.trim($("#persona").val());
				var puesto = $.trim($("#puesto").val());
				if( persona != '' && puesto != '' ){
				  publish({ 'puesto':puesto, 'persona':persona});
				  $("#puesto").val("");
				  $("#persona").val("");
				}else{
				  alert("El puesto y la persona son obligatorios");
				}
			});

		});
// ]]>

</script>

